Package: clinotes
Version: 1.0-1
Section: base
Priority: optional
Architecture: amd64
Depends: python3 (>= 3.10), ansible (>= 2.10.7)
Maintainer: danielmcintyre56@gmail.com
Description: Test package 123
 test
